body
{
	margin: 0;
	overflow-x: hidden;
	background-color: red;
	background-color: black
}

#mainBoardWrap
{
	margin-top: 7vh;
}
#winnerModal
{
	margin-left: 35%;
	margin-right: auto;
	margin-top: 25vh;
	width: 30%;
	height: calc(100vh / 2);
	border: 2px solid rgb(0,200,100); 
	background-color: black;

	display: none;
	position: absolute;
}
#winnerAnnouncement
{
	font-size: 30px;
	margin-top: 10%;
	text-align: center;
	color: white;
}
#playAgainBtn
{
	background-color: rgb(0,220, 150);
	width: 30%;
	height: 15%;
	margin-left: 35%;
	margin-top: 40%;
	font-size: 20px;
	text-align: center;
	font-size: 30px;
}
#scoreBoardWrap
{
	height: calc(100vw / 10);
	width: 25vw;
	margin:auto ;
	background-color: rgb(50,50,50);
	border-radius: 20px;
	display: none;
}
#scoreTitle
{
	text-align: center;	
	color: white;
}
table
{
	margin: auto;
}
tr
{
	padding-right: 50px;
}
th
{
	color: rgb(0,220,100);
	padding-top: 20px;
	padding-right: 50px;
}
td
{
	color: white;
	padding-top: 10px;
	height: 10px;

}
#userTurnSCColorCheck, #aiTurnSCColorCheck
{

}
#userTurnSC, #aiTurnSC
{
	
}
.rowCr
{
	width: 35%;
	height: calc((100vw * .35) * .3333333333333333);
	display: flex;
	justify-content: left;
	box-sizing: border-box;
	margin: auto;
	display: none;
}

.boxCr
{
	border: 2px solid blue;
	width: 33.33333333333333333333%;
	height: 100%;
	display: flex; 
	justify-content: center;

}
.boxCr:hover
{
	background-color: rgb(0,200,100);
	cursor: pointer;
}
.boxCr h1
{
	margin: auto;
	color: white
}
#startGameDialog
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 25vh;
	width: 30%;
	height: calc(100vh / 2);
	border: 2px solid rgb(0,200,100); 

}
#startGameDialog h1
{
	color: white;
	text-align: center;
}

#startGameDialog button
{
	background-color: rgb(0,220, 150);
	width: 30%;
	height: 15%;
	margin-left: 35%;
	margin-top: 20%;
	font-size: 20px;
	text-align: center;
}
.symbolText
{
	color: white;
	text-align: center;
	margin: 10%;
	font-family: "Arial";
}
@media only screen and (max-width: 3840px)
{
	#scoreTitle
	{
		font-size: 20px;
	}
	th
	{
		font-size: 23px;
		padding-right: 40px;
	}
	td
	{
		color: white;
		font-size: 18px;
		padding-top: 14px;
	}
}
@media only screen and (max-width: 2560px)
{
	#scoreTitle
	{
		font-size: 15px;
	}
	th
	{
		font-size: 21px;
		padding-right: 35px;
	}
	td
	{
		color: white;
		font-size: 16px;
		padding-top: 12px;
	}
}
@media only screen and (max-width: 1920px)
{
	#scoreTitle
	{
		font-size: 10px;
	}
	th
	{
		font-size: 15px;
		padding-right: 25px;
	}
	td
	{
		color: white;
		font-size: 19px
		padding-top: 10px;
	}
}
@media only screen and (max-width: 1550px)
{
	#scoreTitle
	{
		font-size: 5px;
	}
	th
	{
		font-size: 14px;
		padding-right: 22px;
	}
	td
	{
		color: white;
		font-size: 12px;
		padding-top: 8px;
	}
}
@media only screen and (max-width: 1280px)
{
	#scoreTitle
	{
		font-size: 3px;
	}
	th
	{
		font-size: 11px;
		padding-right: 8px;
	}
	td
	{
		color: white;
		font-size: 9px;
		padding-top: 6px;
	}
}
@media only screen and (max-width: 850px)
{
	#scoreTitle
	{
		font-size: 3px;
	}
	th
	{
		font-size: 8px;
		padding-right: 5px;
	}
	td
	{
		color: white;
		font-size: 6px;
		padding-top: 4px;
	}
}
@media only screen and (max-width: 700px)
{
	#scoreTitle
	{
		font-size: 3px;
	}
	th
	{
		font-size: 2px;
		padding-right: 2px;
	}
	td
	{
		color: white;
		font-size: 1px;
		padding-top: 1px;
	}
}
